<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Predição de Texto</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<header class="header">
    <img src="static/logo.png" alt="Logotipo"> <!-- Substituir pelo caminho correto do logotipo -->
    <div class="team-names">
        <p>Enmanuel Abilheira A16430</p>
        <p>Bruno Silva A20811</p>
        <p>David Rodrigues A21177</p>
        <p>André Araújo A21185</p>
    </div>
</header>

<body>
    <div class="container">
        <h1>Insira seu Texto</h1>
        <form method="POST">
            <textarea name="text" placeholder="Digite o texto aqui..." rows="5" required></textarea>
            <button type="submit">Analisar</button>
        </form>
    </div>
</body>
</html>
