<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Predição de Texto</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<header class="header">
    <img src="static/logo.png" alt="Logotipo"> <!-- Substituir pelo caminho correto do logotipo -->
    <div class="team-names">
        <div class="team-member">
            <p class="name">Enmanuel Abilheira</p>
            <p class="id">A16430</p>
        </div>
        <div class="team-member">
            <p class="name">Bruno Silva</p>
            <p class="id">A20811</p>
        </div>
        <div class="team-member">
            <p class="name">David Rodrigues</p>
            <p class="id">A21177</p>
        </div>
        <div class="team-member">
            <p class="name">André Araújo</p>
            <p class="id">A21185</p>
        </div>
    </div>
</header>

<body>
    <div class="container">
        <button type="button" onclick="window.location.href='https://www.youtube.com/watch?v=xvFZjo5PgG0'">Speech to Predict</button>
    </div>
    <form method="post">
        <button type="submit" name="voice" value="record">Speech to Predict</button>
    </form>


    <div class="container">
        <h1>Insira seu Texto</h1>
        <form method="POST">
            <textarea name="text" placeholder="Digite o texto em Ingles aqui..." rows="5" required></textarea>
            
            <div class="model-selection">
                <label for="model_type">Selecione o modelo:</label>
                <select id="model_type" name="model_type">
                    <option value="custom">Modelo Customizado</option>
                    <option value="pretrained">Modelo Pré-treinado</option>
                </select>
            </div>
            
            <br>
            <button type="submit">Analisar</button>
        </form>

        <div>
            <h2>Descrição dos Modelos</h2>
            <p>Modelo Pré-treinado: </p>
            <ul>
                <li>Modelo Tipo/Polaridade: Spacy</li>
                <li>Modelo Subjectividade: fact-or-opinion-xlmr-el</li>
                <li>Modelo Sentimento: Sentiment-Analysis-BERT</li>
            </ul>

            <p>Modelo Customizado: </p>
            <ul>
                <li>Modelo Tipo/Polaridade: positivo/negativo: Embedding + Logistic Regression</li>
                <li>Modelo Subjectividade: Factual ou não: TF-IDF + Logistic Regression</li>
                <li>Modelo Sentimento: Sentimento: Embedding + XGBoost</li>
            </ul>
        </div>

        <br>
        <a href="{{ url_for('predictions') }}" class="back-button">Ver Previsões Salvas</a> <!-- Link para a página de previsões -->
    </div>
</body>
</html>
